<div class="all-bunka">
</div>
<div class="all">
  <h4>文化一覧</h4>
  <div class="container-user">
    <div class="user-left"><a href="/users/1">英会話研究部</a></div>
    <p class="user-right">
      <!--<i class="fab fa-2x fa-line"></i>-->
      <a href="https://twitter.com/ness_2019"><i class="fab fa-2x fa-twitter"></i></a>
      <!--<i class="fab fa-2x fa-instagram"></i>-->
    </p>
  </div>
  <div class="container-user">
    <div class="user-left"><a href="/users/2">プログラミングサークルLEPRO</a></div>
    <p class="user-right">
      <a href="https://t.co/52kTmsyPmJ?amp=1"><i class="fab fa-2x fa-line"></i></a>
      <a href="https://twitter.com/leproniigata"><i class="fab fa-2x fa-twitter"></i></a>
      <a href="https://t.co/4bjaE6I5qx?amp=1"><i class="fab fa-2x fa-youtube"></i></a>

    </p>
  </div>






</div>
