<div class="all-bunka">
</div>
<div class="all">
  <h4>文化一覧</h4>
  <div class="container-user">
    <div class="user-left"><a href="/users/1">英会話研究部</a></div>
    <p class="user-right">
      <i class="fab fa-2x fa-line"></i>
      <i class="fab fa-2x fa-twitter"></i>
      <i class="fab fa-2x fa-instagram"></i>
    </p>
  </div>
  





</div>
