<% provide(:title, 'All users') %>
<h3>サークル/部活一覧</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      
    </li>
  <% end %>
</ul>
<div class="pagination">

</div>
